/* your styles go here */

/* extras */
.homepage.owl-carousel.owl-theme {
	padding: 0px;
}
img.img-responsive {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}
.col-sm-5 {
	width: 80%;
	color: white;
}
.col-sm-7 {
	width: 20%;
}

.item .row {
	display: flex;
	justify-content: center;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

section.bar.background-gray.no-mb{
  padding: 0px;
}

section.bar.background-pentagon.no-mb{
  padding: 0px;
}

section{
  margin: 0px;
}

section.bar.background-white.no-mb{
  padding: 0px !important;
}

p.lead{
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
}

.heading.text-center{
	margin-bottom: 10px;
}

.testimonial.same-height-always{
	height: auto !important;
	vertical-align: center !important;
}

.testimonials .owl-item li.item{
	height: 280px;
}

.testimonial div.text{
	margin: 0px !important;
}

.dropdown a {
	display: inline-block !important;
	vertical-align: center;
	height: 72px;
}

#copyright {
	padding: 0px;
}

#footer{
	background-image: url("./../img/footer.png");
	background-repeat: repeat-x;
	background-size: auto 260px;
	background-position: center top;
	background-color: #333333;
}

.owl-wrapper{
	width: auto !important;
	margin: 0 auto !important;
	text-align: center;
	justify-content: center;
	display: flex !important;
	left: auto !important;
}

ul.owl-carousel.customers.owl-theme{
	margin: 0px;
}

.img-responsive{
	filter: none !important;
}

li.item{
	padding-bottom: 20px !important;
}

